<!-- Breadcrumb Area Start -->
<div class="breadcrumb__area" style="background-image: url('/storage/general/pgr-blends-mississippi.webp');">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="breadcrumb__area-content">
					<h2>{{ title }}</h2>
					<ul>
						<li><a href="/">Home</a><i>/</i></li>
						<li>Blog Details</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb Area End -->

<!-- Blog Details Area Start -->
<div class="blog__details section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 lg-mb-25">
				<div class="blog__details-area">
					<img src="{{ image_url }}" alt="{{ title }}">
					{{ page_code }}
				</div>
			</div>
			<div class="col-lg-4 columns_sticky">
				<div class="all__sidebar">
					<div class="all__sidebar-item">
						<h5>Search Here</h5>
						<div class="all__sidebar-item-search">
							<form action="/blog">
								<input type="text" name="query" placeholder="Search.....">
								<button type="submit"><i class="fal fa-search"></i></button>
							</form>
						</div>
					</div>
					<div class="all__sidebar-item">
						<h5>Recent Blog</h5>
						<div class="all__sidebar-item-post dark_image">
							{{ collection:blogs limit="3" sort="date:desc" }}
							<div class="post__item">
								<div class="post__item-title">
									<h6><a href="{{ url }}">{{ title }}</a></h6>
									<span><i class="far fa-calendar-alt"></i>{{ date format="M d, Y" }}</span>
								</div>
							</div>
							{{ /collection:blogs }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog Details Area End -->
