<!-- Header Area Start -->
<div class="header__area three">
    <div class="top__bar-three">
        <div class="custom_container">
            <div class="row al-center">
                <div class="col-md-8">
                    <div class="top__bar-left md-t-center">
                        <ul>
                            <li><a href="https://www.google.com/maps?q=3980+N+Collins+Street,+Arlington,+TX+76005"
                                    target="_blank"><i class="fas fa-map-marker-alt"></i>3980 N Collins Street,
                                    Arlington, TX 76005</a></li>
                            <li><a href="mailto:sales@bmchemicals.com"><i
                                        class="fas fa-envelope"></i>sales@bmchemicals.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top__bar-right t-right md-t-center">
                        <ul>
                            <li><a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="https://twitter.com/" target="_blank"><i
                                        class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="https://behance.net/" target="_blank"><i class="fab fa-behance"></i></a></li>
                            <li><a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom_container">
        <div class="row">
            <div class="col-xl-12">
                <div class="header__area-menubar">
                    <div class="header__area-menubar-left">
                        <div class="header__area-menubar-left-logo">
                            <a href="/"><img src="{{ brand:logo_light }}" alt="logo" width="120px"></a>
                        </div>
                    </div>
                    <div class="header__area-menubar-center">
                        <div class="header__area-menubar-center-menu">
                            <ul id="mobilemenu">
                                <li><a href="/">Home</a></li>

                                <li class="menu-item-has-children"><a href="/products">Products</a>
                                    <ul class="sub-menu">
                                        {{ taxonomy:categories }}
                                        <li><a href="{{ url }}">{{ title }}</a></li>
                                        {{ /taxonomy:categories }}
                                    </ul>
                                </li>

                                <li class="menu-item-has-children"><a href="/solutions">Solutions by Crop</a>
                                    <ul class="sub-menu">
                                        <li><a href="/solutions/corn">Corn</a></li>
                                        <li><a href="/solutions/cotton">Cotton</a></li>
                                        <li><a href="/solutions/forage">Cattle / Forage</a></li>
                                        <li><a href="/solutions/greenhouse">Greenhouse / Nursery</a></li>
                                        <li><a href="/solutions/vegetables">Fruits & Vegetables</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children"><a href="#">Resources</a>
                                    <ul class="sub-menu">
                                        <li><a href="/blogs">Blogs</a></li>
                                        <li><a href="/faqs">FAQ</a></li>
                                        <li><a href="/downloads">Downloads & Guides</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children"><a href="#">Company</a>
                                    <ul class="sub-menu">
                                        <li><a href="/about-us">About Us</a></li>
                                        <li><a href="/team">Our Team</a></li>
                                        <li><a href="/testimonials">Customer Testimonials</a></li>
                                        <li><a href="/contact-us">Contact</a></li>
                                    </ul>
                                </li>

                                <li><a href="/request-quote">Request Quote</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__area-menubar-right">
                        <div class="header__area-menubar-right-search">
                            <div class="search">
                                <span class="header__area-menubar-right-search-icon open"><i
                                        class="flaticon-search-1"></i></span>
                            </div>
                        </div>
                        <a class="default_button xl-display-n ml-30" href="/request-quote">Get a Quote <i
                                class="flaticon-right-up"></i></a>
                        <div class="header__area-menubar-right-sidebar">
                            <div class="header__area-menubar-right-sidebar-icon">
                                <i class="flaticon-menu-6"></i>
                            </div>
                        </div>
                        <div class="header__area-menubar-right-responsive-menu menu__bar">
                            <i class="flaticon-menu-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Area End -->
